<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Luna - Iniciar Sesión</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <img src="/img/logo.png" alt="Mi Luna Logo" class="logo">
    <form action="/login" method="POST">
      <input type="email" id="email" name="email" placeholder="*Escribe E-m@il*" required>
      <input type="password" id="password" name="password" placeholder="*Tu contraseña*" required>
      <button type="submit" class="login-button">Iniciar sesión</button>
    </form>
    <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
  </div>
</body>
</html>
